#main {
    clear:both;
    width:940px;
    min-height: 500px;
    margin: 40px auto 40px auto;
    padding: 0;
    font-size: 90%;
}
div.filter label {
    font-size:16px;
    line-height: 2;
    display: block;
}
div.filter input[type="text"] {
    width:300px;
    height:50px;
    border-radius:5px;
    border:1px solid #eee;
    outline:none;
    color:#438DCD;
    padding:10px;
    -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
    font-size: 16px;
    background-color: #eee;
    border:1px solid #CCCCCC;
}
a.dd-selected:hover,a.dd-option:hover {
    text-decoration: none;
}
div.dd-container:hover, a.dd-selected:hover {
    cursor: pointer;
}
div.results {
    width:100%;
    min-height: 300px;
    height:auto;
    border:1px solid #eee;
    margin-bottom: 20px;
    position: relative;
}
div.results div.loading {
    position: absolute;
    left:50%;
    top:50%;
}
div.results ul {
    list-style-type: none;
    width:760px;
    overflow:hidden;
}
button.btn:active, button.btn:hover {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
div.results ul li {
    padding:10px;
    float:left;
    display: inline;
    line-height: 1.5em;
    border-bottom: 1px solid #eee;
}
div.results ul li:last-child {
    border-bottom: none;
}
div.pane {
    border: 1px solid #eee;
    padding: 25px !important;
    border-radius: 20px;
    background:#fff;
}
ul.delivery-listing {
    list-style-type: none;
    width:100%;
    min-height: 90px;
    padding:0;
    font-size: 1.3em;
}
ul.delivery-listing li {
    display: block;
    border:1px solid #eee;
    border-radius: 5px;
    padding:15px;
}
ul.delivery-listing li:nth-child(even) {
    background-color:#eee;
}
ul.delivery-listing li.header {
    border:none;
    text-transform: uppercase;
    text-decoration: underline;
    border-radius: 0;
}
ul.delivery-listing li.header span {
    text-decoration: underline;
}
ul.delivery-listing li span {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}
div#new-delivery-form p.form-message {
    color: #000;
    background: aliceblue;
    line-height: 1.5em;
    font-size: 1.1em;
    padding: 10px;
    border: 1px solid #eee;
    width: 320px;
}
div#new-delivery-form label {
    display: block;
    font-size: 1.3em;
    line-height: 2.5em;
}
div#new-delivery-form input[type="text"] {
    padding:15px;
    font-size: 1.3em;
    outline:none;
    min-width: 320px;
    border:1px solid #666;
    border-radius: 5px;
}
.no-deliveries-error {
    font-size: 16px;
    color: #D9534F;
    margin-top: 15px;
    margin-bottom: 15px;
    background: #eee;
    width: 350px;
    padding: 20px;
    border-radius: 15px;
}
.dark-background {
    padding-left: 0;
    padding-right: 0;
    min-height: 84%;
    background: #cfe7fa; /* Old browsers */
    background: -moz-linear-gradient(top,  #cfe7fa 0%, #6393c1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfe7fa), color-stop(100%,#6393c1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cfe7fa 0%,#6393c1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cfe7fa 0%,#6393c1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cfe7fa 0%,#6393c1 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #cfe7fa 0%,#6393c1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=0 ); /* IE6-9 */

}