
/* customized carousel */

body	{background-color:#F5F5F5;}

.register{
	position: relative; margin-top:100px; margin-left:560px;
    
	color:#C0C0C0;
}

.form{
	position: relative; margin-top:20px; margin-left:280px; 
}

.error{

		position: relative; margin-top:20px; margin-left:560px;
		font-family: "Lucida" Grande, sans-serif;
		color:#FF3333;
}

.footer {
		position: fixed; bottom: 0; margin-top:80px; margin-left:20px;
		color:#404040; 
}