html.login, html.login body{ background-color:#888; }
html.login form{ margin-bottom:0; }
html.login div.modal{ position:relative;margin:48px auto;top:0;left:0; }
#modal-recovery{ display:none; }
.dropdown-menu{ display:none; }
.center{ text-align:center; }
form.search{ margin:0 0; }
.list-page h2 a{ float:right; }
.crud-actions{ width:158px; }
.crud-actions span {
    display:block;
    width:100%;
    margin-bottom:3px;
}
html {
    position: relative;
    min-height: 100%;
}
html,body {
    margin: 0;
    padding: 0;
}
body {
    margin:0 0 100px; /* bottom = footer height */
    font-family: 'Roboto', sans-serif !important;
    font-size:13px;
}
.crud-actions span a {
    display: inline-block;
    box-sizing: content-box;
}

#footer {
    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
    height:100px;
}
.full-width {
    margin-right: 12px;
}
.full-width a.btn {
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#footer {
  background-color: #252525;
  padding:25px;
    height:7%;
    -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
}
#graph1, #graph2 {
    height:200px;
    width:inherit;
}
body.login #footer hr {
  display: none;
}

#footer p a {
  font-weight: bold;
}

#footer p {
  margin-bottom: 0;
}
#footer p.right {
  float: right;
}

.navbar-fixed-top .brand {
  color: #fff;
  float: right;
  font-weight: 300;
  margin-left: 20px;
  padding-left: 0;
  padding-right: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
}

.plain-form {
  margin: 0 0;
}

.progress-form-file {
  margin: 18px 0;
  width: 260px;
}

.users-header a {
  float: right;
}

.reset-margin{
  margin: 0;
}

.pagination{
  text-align: center;
} 

label{
  margin: 5px 20px;
  font-weight: bold;
} 

form label:first-child{
  margin: 0 20px 5px 12px;
} 

.container.login{margin-top: 60px;}
.sidebar-nav {
  padding: 9px 0;
}
tr.success > td {
    background-color:#F2FEF0 !important;
}
.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
.validationMessage {
    color:#CD1F28;
    margin: 15px 15px 0;
    display: block;
}
#close-fancybox {
    vertical-align: top;
}
fieldset.fancybox input[type="text"] {
    margin-left: 20px;
}
p.form-message {
    border-left: 3px solid #eee !important;
    background:#FCF8F2;
    border-color:#f0ad4e !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:auto;
    font-size: 0.8em;
    max-width: 220px;
    max-height: 100px;
    margin: 20px 18px 0;
    padding: 10px;
}
.information-panel {
    /*background: #eee;*/
    border-radius: 5px;
    padding-top:5px;
    padding-bottom:5px;
}
.white-panel {
    background: #fff;
    margin-top:10px;
    margin-bottom:10px;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(49, 50, 50, 0.99);
    -moz-box-shadow:    0px 0px 3px 0px rgba(49, 50, 50, 0.99);
    box-shadow:         0px 0px 3px 0px rgba(49, 50, 50, 0.99);
}
header.stuck {
    position:fixed;
    top:0;
    box-shadow:0 2px 4px rgba(0, 0, 0, .3);
}
div.items {
    min-height: 90px;
    border: 1px solid #eee;
}
div.items > p {
    line-height: 90px;
    color:#4D97FF;
    font-weight: bold;
    font-size: 14px;
}
/* highlight results */
.ui-autocomplete span.hl_results {
    background-color: #ffff66;
}

/* Autocomplete
           ----------------------------------*/
.ui-autocomplete { position: absolute; cursor: default; }
.ui-autocomplete-loading { background: white url('http://jquery-ui.googlecode.com/svn/tags/1.8.2/themes/flick/images/ui-anim_basic_16x16.gif') right center no-repeat; }

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/* Menu
----------------------------------*/
.ui-menu {
    list-style:none;
    padding: 2px;
    margin: 0;
    display:block;
}
.ui-menu .ui-menu {
    margin-top: -3px;
}
.ui-menu .ui-menu-item {
    margin:0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%;
    font-size:80%;
}
.ui-menu .ui-menu-item a {
    text-decoration:none;
    display:block;
    padding:.2em .4em;
    line-height:1.5;
    zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    margin: -1px;
}
div.splash-help {
    width:100%;
    height:100%;
    -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
    background-image:url('../../img/admin/help.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.multipageWrapper {
    margin-left: 15%;
    margin-right: 15%;
    width:70%;
}
p.no-records {
    padding: 15px;
    color: #FF573F;
    font-size: 14px;
    background: #fff;
    border: 1px solid #eee;
    text-align:center;
    font-weight: bold;
}